@font-face {
	font-family: AmazingGrotesk;
	font-display: swap;
	src: url("../fonts/AmazingGrotesk-DemiBold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AmazingGrotesk;
	font-display: swap;
	src: url("../fonts/AmazingGrotesk-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: AmazingGrotesk;
	font-display: swap;
	src: url("../fonts/AmazingGrotesk-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AmazingGrotesk;
	font-display: swap;
	src: url("../fonts/AmazingGrotesk-Ultra.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AmazingGrotesk;
	font-display: swap;
	src: url("../fonts/AmazingGrotesk.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
